@charset "utf-8";

*{
    color: #1e3545;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* ㅡㅡㅡㅡㅡ 디폴트 홈 화면. data1 ㅡㅡㅡㅡㅡ*/
#data{
    max-width: 100%;
    max-height: 100%;
    /* margin: 2%; */
}
/* ㅡㅡㅡㅡㅡ 슬라이드(slidearea) ㅡㅡㅡㅡㅡ */
#slidearea{
    margin: 1% 2% 2%;
    overflow: hidden;
    max-width: 100%;
    max-height: 60vh;
    border-radius: 1.5%;
}
#slide{
    display: flex;
    position: relative;
    left: -100%;
}
#slide .img{
    max-width: 100%;
    position: relative;
}
/* #slide .img> img{
    transform: translateY(-20%);
    transform: scale(0.9);
} */
#slide .img> h2{
    height: 100%;
    position: absolute;
    top: -10%;
    left:10%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    padding: 20% 10%;
    /* font-size: 4em; */
    font-size: calc( 10px + 4vw );
}

/* ㅡㅡㅡㅡㅡ 공지사항 + 이벤트 ㅡㅡㅡㅡㅡ*/
#novent{
    /* max-height: 40vh; */
    height: calc(100vh - 8vh - 60vh);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 1.5%; */
}
#novent> ol{
    list-style: inside;
}
#novent a{
    line-height: 180%;

}
.date{
    font-size: calc(3px + 1vw );
}
.right{
    float: right;
}
.dash{
    width: 30%;
    position: relative;
    border:  2px dashed #1e3545;
    padding: 2% 3%;
}
#notice, #event{
    width: 100%;
}
.um{
    position: absolute;
    top: -7%;
    background-color: #efece5;
    padding: 0 5%;
    font-size: calc( 5px + 1.5vw );

}

/* 팝업 */
#black{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.popup{
    background-color: #efece5;
    width: 50%;
    height: 50%;
    max-width: 50%;
    max-height: 50%;
    transform: translate(40%, 30%);
    /* text-align: ; */
    padding: 3%;
    border-radius: 2%;
    display: none;
}
.popup h2{
    font-size: calc(2px + 2.5vw);
    margin-bottom: 3%;
    text-align: center;
}
.popup h3{
    font-size: calc(1px + 1.5vw);
    /* padding-left: 10%; */
}
.popup ol{
    margin: 3%;
    /* list-style: ; */
    line-height: 180%;
}
#thinks{
    font-style: italic;
    font-weight: 700;
    font-size: larger;
    padding-left: 7%;
    line-height: 350%;
}
.popup button{
    float: right;
    padding: 1% 2%;
    margin-top: 3%;
}

#notice_pop.popup{
    display: none;
}