
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #152A3F;
}
@mixin btn-wh($w, $h){
    width: $w;
    height: $h;
    font-size: 1.2rem
}
.btn-basic{
    border: none;
    background-color: rgba(255,255,255, 0.6);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}
#root{
    position: relative;
    width: 100%;
    height: 100vh;

    #layout{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        width: 1400px;
        background-color: lightblue;
        padding: 20px 30px;
        display: flex;
        gap: 20px;
    
        .cal{
            width: 400px;
            display: grid;
            grid-template-areas:
            "input"
            "selctA"
            "sign"
            "num";
            grid-template-rows: 0.4fr 0.2fr 0.5fr 2fr;
            gap: 10px;
    
            .values{
                grid-area: 'input';
                max-width: 100%;
                height: 55px;
                text-align: right;
                padding-top: 10px;
                font-size: 1.1rem;
                border: 1px dashed blue;
                background-color: #fff;
            }
            .selectA{
                grid-area: 'selctA';
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .rtdA{
                    font-size: 0.8rem;
                    input{
                        margin: 0 5px;
                    }
                    label:last-of-type{
                        margin-left: 10px;
                    }
                }
                .pointA{
                    margin-left: 25px;
                    button{
                        @extend .btn-basic;
                        padding: 2px 3px;
                        margin: 2px;
                    }
                    button.active{
                        background-color: rgba(205, 167, 255, 0.3);
                    }
                }

            }
            .signBtn_area{
                grid-area: 'sign';
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 2px 12px;
                .signBtn{
                    padding: 2px 12px;
                    @extend .btn-basic;
                    border-radius: 5px;
                    max-width: 70px;
                    max-height: 30px;
                }
            }
            .numBtn_area{
                grid-area: 'num';
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 15px 10px;
                .numBtn{
                    @extend .btn-basic;
                    border-radius: 20px;
                    max-width: 80px;
                    max-height: 50px;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
                }
                .numBtn.sign{
                    background-color: rgba(205, 167, 255, 0.3);
                }
            }
     
        }
        .canArea{
            grid-area: 'canvas';
            display: flex;
            gap: 20px;
            .can_area{
                max-width: 920px;
                height: 100%;
                position: relative;
                .can{
                    background-color: #fff;
                    border: 1px dashed blue;
                    width: 600px;
                    height: 600px;
                };
                .move_area{
                    width: 60%;
                    background-color: lightblue;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    margin: auto;
                    border: 1px dashed blue;
                    border-radius: 10px;
                    padding: 2px 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .move{
                        margin: 7px 7px; 
                        font-size: 1rem;
                        width: 35px;
                        height: 35px;
                        @extend .btn-basic;
                        padding-top: 5px;

                    }
                    .reset{
                        margin: 0 30px;
                    }
                    .move:nth-of-type(3){
                        margin-left: 10px;
                    }
                    .reset, .zoomIn,.zoomOut{ width: fit-content; font-size: 1rem; width: 35px; height: 35px; font-size: 1.1rem;}
                }
            }
            .draw_info{
                width: 500px;
                .view_listArea{
                    background-color: #fff;
                    border: 1px solid #19426A;
                    width: 100%;
                    margin: auto;
                    height: 300px;
                    .inListItem{
                        padding: 10px 0;
                        width: calc( 100% - 10px);
                        padding-left: 10px;
                        border-bottom: 1px solid #19426A;
                        span{
                            display: inline-block;
                        }
                        span:first-of-type{
                            width: 50px;
                        }
                        span:nth-of-type(2){
                            width: 300px;
                        }
                        span:nth-of-type(3){
                            margin: 0 10px;
                        }span:last-of-type{
                            width: 40px;
                            button{
                                padding: 3px 10px;
                                border: none;
                                background-color: lightblue;
                                font-weight: bolder;
                            }
                        }
                    }
                    overflow-y: auto;
                }
                .addArea{
                    margin-top: 20px;
                    padding: 10px 0;
                    .delA{
                        padding-bottom: 10px;
                        button{
                            padding : 5px 10px;
                            @extend .btn-basic;
                        }
                    }
                    table{
                        margin-top: 10px;
                        font-size: 1rem;
                        .additemList{
                            line-height: 200%;
                            td:first-of-type{
                                text-align: right;
                            }
                            td{
                                padding: 0 5px;
                                width: fit-content;
                                .graphInV{
                                    padding: 2px;
                                    width: 30px;
                                    height: 20px;
    
                                    text-align: center;
                                }
                                [type="color"]{
                                    width: 25px;
                                    height: 22px;
                                }
                                button{
                                    padding: 2px 7px;
                                    @extend .btn-basic;
    
                                }
                            }
                        }
                    }
                    .ps{
                        margin-top: 10px ;
                        color: #000000;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
