@charset "utf-8";

#data{
    max-width: 100%;
    max-height: 100%;
    margin: 2%;
}
#data h2{
    font-size: 3em;
    margin-bottom: 1%;
}
#t_b{
    display: flex;
    align-items: center;
    /* position: relative; */
}
#t_b> .material-symbols-outlined{
    font-size: calc(1px + 2.5vw);
}
#t_b> .material-symbols-outlined:first-of-type{
    margin-left: 80%;
    margin-right: 5%;
    transform: scale(1.2);
}
img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
#albumarea{
    max-width: 100vw;
    max-height: 78 vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    background-color: #e5d2b0;
    border-radius: 10px;
}

.photo{
    width: 25%;
    max-width: 30%;
    padding: 2%;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 2%;
}
.photo .img{
    position: relative;
    padding-top: 100%;
}
.photo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); */
}
.text{
    text-align: center;
}
.date{
    text-align: right;
}


/*******************************************************/
/* y축은 width로 x축은 height로 컨트롤함. */
#albumarea::-webkit-scrollbar-track {
    background-color: transparent; /* 배경색 투명으로 설정 */
}
  
  /* 스크롤바 자체 */
#albumarea::-webkit-scrollbar {
    width: calc(1px + 1vw);
    /* 스크롤바 너비 */
    /* height: 5px; */
    /* 스크롤바 높이 */
}
  
  /* 스크롤바의 드래그 가능한 부분 (thumb) */
#albumarea::-webkit-scrollbar-thumb {
    background-color: #85755b; /* thumb 색상 설정 */
    border-radius: 10px; /* thumb의 모서리 둥글게 */
}
  
  /* 스크롤바 버튼 (화살표 버튼) */
#albumarea::-webkit-scrollbar-button {
    /* display: none;  */
    /* 화살표 버튼 숨기기 */
    /* width: 5px; */
    /* 화살표 너비 */
    height: 2px;
    /* 화살표 높이 */
    visibility: hidden;
    /* 자리차지 하지만 보이지 않게 */
}